body {
    background-color: #13141C;
    background-image: linear-gradient(#191A24 1px, transparent 1px), linear-gradient(90deg, #191A24 1px, transparent 1px);
    background-size: 28px 28px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #E9E9F2;
}

header {
    color: #E9E9F2;
    background-color: #13141C;
    border-bottom: 2px solid #2C2E3F;
    position: sticky;
    display: flex;
    align-items: center;
    top: 0;
}

.name {
    margin-right: 30px;
    padding-left: 20px;
}



.header-div {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 22px;
    gap: 20px;
    max-width: 1400px;
    margin: 0 auto;
}

nav ul {
    display: flex;
    gap: 10px;
    list-style: none;
    justify-content: center;
    align-items: center;

}

nav {
    margin-left: 0;
}

nav li a {
    color: #6C6E8C;
    text-decoration: none;
    font-size: 20px;
    padding: 8px 12px;
    border-radius: 8px;
}

nav li a:hover {
    color: #8078F2;
}

nav li a.active {

    background-color: #262647;
    color: #8078F2;
}

.streak {
    margin-left: auto;
    color: #6C6E8C;
}

.menu-btn {
    /* -------> CHange to flex  */
    display: none;
    background: none;
    color: #6C6E8C;
    border: none;
    font-size: 25px;
}

.sidebar {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 260px;
    background: #13141C;
    z-index: 9999;
    border-right: 2px solid #2C2E3F;
    display: none;
    /* -------> CHange to flex  */
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}

.sidebar ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    padding: 20px;
    margin: 0;
    margin-left: 30px;
    padding-left: 0;

}

.close-btn {
    background: none;
    border: none;
    color: #6C6E8C;
    font-size: 40px;
    padding: 20px;
    padding-bottom: 0;
}

.sidebar ul a {
    color: #6C6E8C;
    text-decoration: none;
    font-size: 20px;
    padding: 8px 12px;
    border-radius: 8px;
}

.sidebar li a.active {

    background-color: #262647;
    color: #8078F2;
}

main {
    max-width: 1400px;
    margin: 0 auto;
    padding-left: 45px;
    margin-top: 60px;
}

main h1 {
    font-size: 40px;
    font-family: "Bricolage Grotesque", sans-serif;
    margin: 0px;
}

.subhead {
    color: #6C6E8C;
    margin: 5px;
    font-size: 18px;
}

.problem-filter-div {
    display: flex;
    margin: 30px 0px;
    gap: 15px;
}

.problem-filter-div input {
    flex: 0.5;
    padding: 10px;
    border-radius: 8px;
    color: #E9E9F2;
    font-size: 16px;
    font-weight: 400;
    background-color: #14151D;
    border: 1px solid #2C2E3F;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.problem-filter-div select {
    padding: 15px;
    border-radius: 8px;
    color: #E9E9F2;
    font-size: 16px;
    font-weight: 400;
    background-color: #14151D;
    border: 1px solid #2C2E3F;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.problem-table {
    width: 100%;
    background-color: #13141C;
    border-collapse: separate;
    border-radius: 12px;
    overflow: hidden;
    border: 2px solid #2C2E3F;
    width: 100%;
    table-layout: fixed;
    border-spacing: 0;
}

.problem-table th,
.problem-table td {
    padding: 12px 16px;
    text-align: left;
    overflow-wrap: break-word;
}

.problem-table th {
    color: #6C6E8C;
    border-bottom: 2px solid #2C2E3F;
}

.problem-table td {
    background-color: #1D1E2A;
}

.problem-table td:last-child {
    text-align: right;
}

.pattern {
    background-color: #262647;
    color: #8078F2;
    border-radius: 99px;
    padding: 4px 12px;
    font-weight: 600;
}

.difficulty-easy {
    color: #2DD39D;
}

.difficulty-medium {
    color: #EEA63C;
}

.difficulty-hard {
    color: #F0708A;
}


.next-revieew {
    color: #EEA63C;
}

td a {
    color: #E9E9F2;
    text-decoration: none;
    /* font-size: 20px; */
    /* padding: 8px 12px;
    border-radius: 8px; */
    border-bottom: 0.1px dashed #6C6E8C;
}

.delete-btn {
    background: none;
    border: none;
    font-size: 15px;
}

.edit-btn {
    background: none;
    border: none;
    font-size: 15px;

}

.delete-modal {

    /* align-items: center; */
}

.delete-modal-content {
    background-color: #191A24;
    padding: 30px 60px;
    position: fixed;
    width: 500px;
    /* inset: 0; */
    top: 50%;
    left: 50%;
    /* right: 50%; */
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: flex-start; */
    border: none;
    border-radius: 12px;
    border: 2px solid #2C2E3F;

}

.edit-modal-content {
    background-color: #191A24;
    padding: 30px 60px;
    position: fixed;
    width: 500px;
    /* inset: 0; */
    top: 50%;
    left: 50%;
    /* right: 50%; */
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: flex-start; */
    border: none;
    border-radius: 12px;
    border: 2px solid #2C2E3F;

}

.delete-modal-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;

}

.delete-modal-btns button {
    padding: 10px 10px;
    background: transparent;
    border: none;
    color: #E9E9F2;
    font-size: 15px;
    font-weight: 600;
}

#cancel-btn {
    border: 1px solid #8078F2;
    border-radius: 8px;
}

#confirm-btn {
    border: 1px solid #F0708A;
    border-radius: 8px;
}

.hidden {
    display: none;
}

.blur {
    filter: blur(10px);
    pointer-events: none;
}


.form-container {
    background-color: #1D1E2A;
    margin-top: 30px;
    max-width: 800px;
    margin-top: 30px;
    margin-right: auto;
    padding: 30px;
    border-radius: 8px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form>* {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    /* flex-direction: column; */
}

.form>*>* {
    display: flex;
    /* flex-direction: column; */
    gap: 10px;
}

.form> :nth-child(-n+2)>* {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-third-row {
    display: flex;
    flex-direction: column;
}

.form-fourth-row {
    display: flex;
    flex-direction: column;
}

.form-fifth-row {
    display: flex;
    flex-direction: column;
}

.problem-name {
    flex: 1;
}

.problem-name input {
    width: 100%;
}

.problem-pattern {
    flex: 1;
}

.form label {
    color: #A6A8C4;
    font-size: 16px;
    font-weight: 600;
}

.form input {
    padding: 10px;
    border-radius: 8px;
    color: #E9E9F2;
    font-size: 16px;
    font-weight: 400;
    background-color: #14151D;
    border: 1px solid #2C2E3F;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.form select {
    padding: 10px;
    border-radius: 8px;
    color: #E9E9F2;
    font-size: 16px;
    font-weight: 400;
    background-color: #14151D;
    border: 1px solid #2C2E3F;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.form button {
    flex: 1;
    text-align: center;
    padding: 10px 15px;
    border-radius: 8px;
    color: #E9E9F2;
    font-size: 16px;
    font-weight: 400;
    background-color: #14151D;
    border: 1px solid #2C2E3F;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Difficulty {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Difficulty-btns {
    display: flex;
    gap: 10px;
    width: 100%;
}

.Difficulty-btns button {
    flex: 1;
    font-size: 16px;
    font-weight: 800;
}

#edit-problem-form-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8078F2;
}

#edit-problem-form-cancel-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EEA63C;
    color: #13141C;
}


.Difficulty-btns .dif-btn-on {
    background: #EEA63C;
    color: #1E1608;
}

@media (max-width :480px) {



    .nav-links {
        display: none;
    }

    .menu-btn {
        /* -------> CHange to flex  */
        display: flex;
        background: none;
        color: #6C6E8C;
        border: none;
        font-size: 25px;
    }

    .sidebar {
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        /* right: -260px; */
        width: 260px;
        background: #13141C;
        z-index: 9999;
        border-right: 2px solid #2C2E3F;
        display: none;
        /* -------> CHange to flex  */
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

    }

    .sidebar ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
        list-style: none;
        padding: 20px;
        margin: 0;
        margin-left: 30px;
        padding-left: 0;

    }

    .close-btn {
        background: none;
        border: none;
        color: #6C6E8C;
        font-size: 40px;
        padding: 20px;
        padding-bottom: 0;
    }

    .sidebar ul a {
        color: #6C6E8C;
        text-decoration: none;
        font-size: 20px;
        padding: 8px 12px;
        border-radius: 8px;
    }

    .sidebar li a.active {

        background-color: #262647;
        color: #8078F2;
    }

    .sidebar.show {
        display: flex;
    }

    .header-div {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0 10px;
        gap: 20px;
        max-width: 1400px;
        margin: 0 auto;
    }

    .name {
        margin-right: 30px;
        padding-left: 10px;
    }

    main {
        max-width: 1400px;
        margin: 0 auto;
        padding-left: 15px;
        margin-top: 20px;
    }

    main h1 {
        font-size: 25px;
        font-family: "Bricolage Grotesque", sans-serif;
        margin: 0px;
    }

    .subhead {
        color: #6C6E8C;
        margin: 5px;
        margin-left: 0px;
        font-size: 16px;
    }

    .problem-table th:nth-child(3),
    .problem-table td:nth-child(3),

    .problem-table th:nth-child(5),
    .problem-table td:nth-child(5) {
        display: none;
    }

    .problem-filter-div {
        display: flex;
        /* margin: 30px 0px; */
        flex-direction: column;
        gap: 12px;
    }

    #search,
    #patterns,
    #difficulties {
        width: 90%;
        box-sizing: border-box;
    }

    .problem-table th,
    .problem-table td {
        padding: 6px 8px;
        text-align: left;
        overflow-wrap: break-word;
    }

    .problem-table td {
        background-color: #1D1E2A;
        font-size: 16px;
        font-weight: 800;
    }

    .delete-modal-content {
        background-color: #191A24;
        padding: 15px 30px;
        position: fixed;
        width: 300px;
        /* inset: 0; */
        top: 50%;
        left: 50%;
        /* right: 50%; */
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        /* align-items: flex-start; */
        border: none;
        border-radius: 12px;
        border: 2px solid #2C2E3F;

    }

    .edit-modal-content {
        background-color: #191A24;
        padding: 15px 20px;
        position: fixed;
        width: 300px;
        /* inset: 0; */
        top: 50%;
        left: 50%;
        /* right: 50%; */
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        /* align-items: flex-start; */
        border: none;
        border-radius: 12px;
        border: 2px solid #2C2E3F;

    }

    .form-container {
        background-color: #1D1E2A;
        margin-top: 30px;
        max-width: 300px;
        margin-top: 10px;
        margin-right: 10px;
        padding: 5px;
        border-radius: 8px;
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    .form>* {
        display: flex;
        justify-content: flex-start;
        gap: 20px;
        flex-direction: column;
    }

    .form input {
    padding: 10px;
    border-radius: 8px;
    color: #E9E9F2;
    font-size: 16px;
    font-weight: 400;
    background-color: #14151D;
    border: 1px solid #2C2E3F;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.form select {
    padding: 10px;
    border-radius: 8px;
    color: #E9E9F2;
    font-size: 16px;
    font-weight: 400;
    background-color: #14151D;
    border: 1px solid #2C2E3F;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.form-sixth-row{
    display: flex;
    flex-direction: row;
}



    .hidden {
        display: none;
    }


}